<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="sz.client">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <script type="text/javascript" src="libs/jquery/jquery-1.9.1.min.js"></script>
        <script src="libs/angularjs/1.2.7/angular.min.js"></script>
        <script src="libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <script src="libs/angularjs/1.2.7/angular-route.min.js"></script>
        <script src="libs/angularjs/1.2.7/angular-cookies.min.js"></script>
        <script src="libs/angularjs/1.2.7/angular-animate.min.js"></script>

        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" >
        <!-- <link rel="stylesheet" href="libs/sidebar/sideBarComponents.css">     -->

        <!-- <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"> -->

        <link rel="stylesheet" href="libs/Baraja/Baraja/css/baraja.css">
        <script src="libs/Baraja/Baraja/js/modernizr.custom.79639.js" type="text/javascript"></script>
        <script src="libs/Baraja/Baraja/js/jquery.baraja.js" type="text/javascript"></script>

        <!-- <link rel="stylesheet" href="libs/IconHoverEffects/css/component.css">
        <script src="libs/IconHoverEffects/js/component.js" type="text/javascript"></script> -->
        

        <!-- <link rel="stylesheet" href="css/footer-to-down.css"> -->
        <link rel="stylesheet" href="css/nganimate.css">
        <!-- <link rel="stylesheet" href="css/buttons.css"> -->
        <link rel="stylesheet" href="css/app.css">


        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <title>ShmotZhmot</title>
    </head>
    <body ng-controller="MasterPageController" mobile-check forced-landscape="isForcedLandscape">
        <div id="loader" ng-show="showLoader"><i class="fa fa-spinner fa-spin"></i></div>        
        
        <div id="mainArea" 
            ng-show="showContent" ng-view sz-scroll-detect sz-set-window> </div><!-- /ng-view -->

        <div class="left-part header navigation" ng-include src="navigation.currTL" ng-click="mapSetHideGameMapShowPath">
            <!-- <a><i class="fa fa-repeat fa-lg"></i></a> -->
        </div>
        <div class="right-part header navigation" ng-include src="navigation.currTR">
            <!-- <a><i class="fa fa-plus fa-lg"></i></a> -->
        </div>
        


                    
        <div class="left-part footer navigation" ng-include src="navigation.currBL"></div>

        <div class="right-part footer navigation" ng-include src="navigation.currBR"> </div>

        <div class="animate-spread-center" id="badgeArea"
            ng-click="badges.hideBadge()" ng-show="badges.show"  sz-badges>
            <div class="media sz-badge">
                <div class="pull-left">
                    <i class="fa fa-star fa-5x"></i>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{badges.current.header}}</h2>
                    <p>{{badges.current.body}}</p>
                </div>
            </div>
        </div><!-- /#badgeArea -->

        <!-- <script type="text/javascript" src="cordova.js"></script> -->
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>



        <script src="libs/jquery/jquery.autoResize.js" type="text/javascript"></script> 

        <script src="libs/LeafletSZMap/lib/gm.js"></script>
        <script src="libs/LeafletSZMap/lib/points.js"></script>
        <link rel="stylesheet" href="libs/LeafletSZMap/src/leaflet.css" > 
        <script src="libs/LeafletSZMap/src/Leaflet.js"></script>
        <script src="libs/LeafletSZMap/src/core/Browser.js"></script>
        <script src="libs/LeafletSZMap/src/core/Util.js"></script>
        <script src="libs/LeafletSZMap/src/core/Class.js"></script>
        <script src="libs/LeafletSZMap/src/core/Events.js"></script>
        <script src="libs/LeafletSZMap/src/core/Handler.js"></script>
        <script src="libs/LeafletSZMap/src/dom/DomUtil.js"></script>
        <script src="libs/LeafletSZMap/src/dom/DomEvent.js"></script>
        <script src="libs/LeafletSZMap/src/dom/DomEvent.Pointer.js"></script>
        <script src="libs/LeafletSZMap/src/dom/Draggable.js"></script>
        <script src="libs/LeafletSZMap/src/dom/PosAnimation.js"></script>
        <script src="libs/LeafletSZMap/src/dom/PosAnimation.Timer.js"></script>
        <script src="libs/LeafletSZMap/src/geometry/Bounds.js"></script>
        <script src="libs/LeafletSZMap/src/geometry/LineUtil.js"></script>
        <script src="libs/LeafletSZMap/src/geometry/Point.js"></script>
        <script src="libs/LeafletSZMap/src/geometry/PolyUtil.js"></script>
        <script src="libs/LeafletSZMap/src/geometry/Transformation.js"></script>


        <script src="libs/LeafletSZMap/src/geo/LatLng.js"></script>
        <script src="libs/LeafletSZMap/src/geo/LatLngBounds.js"></script>
        <script src="libs/LeafletSZMap/src/geo/projection/Projection.LonLat.js"></script>
        <script src="libs/LeafletSZMap/src/geo/projection/Projection.Mercator.js"></script>
        <script src="libs/LeafletSZMap/src/geo/projection/Projection.SphericalMercator.js"></script>
        <script src="libs/LeafletSZMap/src/geo/crs/CRS.js"></script>
        <script src="libs/LeafletSZMap/src/geo/crs/CRS.Earth.js"></script>
        <script src="libs/LeafletSZMap/src/geo/crs/CRS.EPSG3857.js"></script>

        <script src="libs/LeafletSZMap/src/map/Map.js"></script>
        <script src="libs/LeafletSZMap/src/map/handler/Map.Drag.js"></script>

        <script src="libs/LeafletSZMap/src/layer/Layer.js"></script>
        <script src="libs/LeafletSZMap/src/layer/LayerGroup.js"></script>
        <script src="libs/LeafletSZMap/src/layer/tile/GridLayer.js"></script>
        <script src="libs/LeafletSZMap/src/layer/tile/TileLayer.js"></script>
        <script src="libs/LeafletSZMap/src/layer/vector/Renderer.js"></script>
        <script src="libs/LeafletSZMap/src/layer/vector/SVG.js"></script>

        <script src="libs/LeafletSZMap/src/map/GM.js"></script>
        <script src="libs/LeafletSZMap/src/map/pathPoint.js"></script> 

        <!-- <script src="libs/mapjs/mapjs.js" type="text/javascript"></script>
        <script src="libs/mapjs/browser.js" type="text/javascript"></script>
        <script src="libs/mapjs/domevent.js" type="text/javascript"></script>
        <script src="libs/mapjs/point.js" type="text/javascript"></script>
        <script src="libs/mapjs/init.js" type="text/javascript"></script> -->

        <script src="libs/raphael/2.1.2/raphael-min.js"></script>
    
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>        

        <script src="js/services/services.js"></script>
        <script src="js/services/phonegap-servive.js"></script>

        <script src="js/directives/directives.js"></script>
        <!-- <script src="js/directives/navs-directive.js"></script> -->
        <!-- <script src="js/directives/raphael-directive.js"></script> -->
        <script src="js/directives/map-directive.js"></script>
        
        <script src="js/controllers/controllers.js"></script>
        <script src="js/controllers/auth-controllers.js"></script>
        <script src="js/controllers/message-controllers.js"></script>
        <script src="js/controllers/map-controllers.js"></script>

        <script src="js/app.js"></script>
        <!-- <script type="text/javascript">
            function onBackKeyDown(){
                alert("Back!")
            }
            $(document).ready(function(){
                $("#notnormal").click(function(){
                    document.addEventListener("backbutton", onBackKeyDown, false);
                });
                $("#normal").click(function(){
                    document.removeEventListener("backbutton", onBackKeyDown, false);
                })
            });
        </script>         -->
    </body>
</html>
