.navbar-brand{
    float:none;
    display: inline-block;
    margin-top: 6px;
    padding: 0;
}


.btn-primary{
    background-color: transparent;
    border: none;
    color: #7f8c8d;
    font-size: 1.8em;
    padding: 0;
    text-decoration: none solid rgb(127, 140, 141);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active{
    background-color: transparent;
    border: none;
    color:#2c3e50;
    box-shadow: none;
}
.btn-link{
    padding: 0;
    color: #7f8c8d;
    margin-bottom: 0;
}
.btn-link:hover{
    color:#2c3e50;
}
.btn-link.active{
    box-shadow: none;
    color:#2c3e50;   
}
.main-btn-group{
    padding: 0 1em;
}

.photo-btn{    
    position: relative;
    display: inline-block;
}
.photo-btn input{    
    opacity: 0;
}
.photo-btn input,
.photo-btn i{    
    position: absolute; /*30x28*/
    top: 0;
    left: 0;
    display: inline-block;
}
.photo-btn,
.photo-btn input,
.photo-btn i{
    width: 30px;
    height: 28px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
