#messageAdd{
    margin-bottom: 0;
}
#messageAdd .big-bordered-box-inner{
    height: 100%;
}
#messageAdd textarea, #messageAdd textarea:focus{
    border: none;    
    box-shadow: none;
}
#messageAdd-messagePlace h2{
    font-size: 0.9em;
    line-height: normal;
    margin: 0;
}
#messageAdd-messagePlace p{
    font-size: 0.7em;
}



.photo-container img{
    max-height: 65%;
    margin-bottom: 2px;
    /*margin-top: -10%;*/   
    display: inline-block;
}

.photo-menu{
    padding: 0.4em 0;
}

.photo-menu-sub{
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    bottom: 91px;
    left:0;
    right: 0;
    z-index: 1;
    box-shadow: inset 0 2px rgba(0,0,0,0.3);
}

.photo-menu-sub .face-preview{
    margin: 0.8em 0.3em;
    max-height: 60px;
}