body.modal-open{margin-right: 0}


html{font-size: 100% }


a{color:#7f8c8d; }
a:hover{color:#34495e; }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
body {
    font-family: 'Lato', sans-serif;    
}


body{
    text-align: center;
    background-color: #FBFBFB;
    border:none;
}


h2{
    font-size: 20px;
    line-height: 20px;    
    margin-top: 5px;
    margin-bottom: 10px;
}

/*
#wrap{
    position: relative;
}*/


footer{
    font-weight: bold;
    color: #bdc3c7;
}


header{
    padding-bottom: 5px;
}
.header-shadow{
    /*box-shadow: 0 4px 2px -2px #ecf0f1;*/
    /*border-bottom: 1px solid #485a6b;
    box-shadow: 0 4px 2px -2px rgba(72,90,107,0.5)*/
    /*border-bottom: 1px solid #CCC;*/
    box-shadow: 0 4px 2px -2px #CCC;
}


#loader{
    position: absolute;
    background: rgba(250,250,250,0.9);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 9999;
    color:#23313f;
    font-size: 4em;
}
#loader>i{
    position: absolute;
    top:50%;    
}


#main{
    padding-top: 60px;    
}


.container {
    background-color: transparent;
    max-width: 800px;
}


.achivment{
    position: fixed;
    z-index: 1040;
    bottom: 0;
    left:0;
    width:100%;
    /*height: 200px;*/
    /*box-shadow: 0 -4px 2px -2px #ecf0f1;   */
}
.achivment .media{
    min-width:300px; 
    max-width:80%;
    box-shadow: 0 -2px 2px 2px #ecf0f1;
    padding: 15px;
    display: inline-block;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    border:1px solid #CCC;
    background-color: #fff;
}
.achivment i{
    color:#f1c40f;
}


.big-bordered-box{  
    background-color: white;
    padding: 0.5em;
    border:1px solid #CCC;
    box-shadow:0 0 4px #AAA;
    position: relative; 
    display: block;
}
.big-bordered-box-inner{
    text-align: center;
    padding: 0.8em 1.1em;
    border:2px solid #bdc3c7;
    position: relative; 
}
.big-bordered-box, .box-item{    
    width: 100%;
}
.big-bordered-box, .big-bordered-box-inner,.img-main{
    border-radius: 15px;
}
.box-header{
    margin: 0.5em 0.3em;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.box-item-show{
    width:100%;
    overflow: hidden;
}
.box-item{
    display: inline-block;
}
.box-content{
    padding: 0 1em;
    text-align: center;
}
.img-main{
    display: inline-block;
    max-height: 15em;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}
.img-main img{
    display: inline-block;
    margin-top: -10%;
}
.box-content-bottom{
    margin-top:-3.2em;
}
.box-content .box-text{
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: justify;
    margin: 0;
    margin-top: 0.5em;
    overflow: hidden;
}
.box-item-wrap{
    width:auto;
    text-align: left;
}
.box-item-controls{
    position: absolute;
    width: 100%;
    top:40%;
    left:0;
    z-index: 2000;
    list-style: none;
}
.box-item-controls li{
    /*opacity: 0.4;
    color:#bdc3c7;*/
    /*text-shadow:0px 0px 1px #888;*/
    position: absolute;
    cursor: pointer;
}
.box-item-controls li:hover{
    opacity: 1;
}
.box-item-controls .controls-left{
    left:1.7em;
}
.box-item-controls .controls-right{
    right:1.7em;
}

.box-inner-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    padding: 0 1.1em;
    padding-bottom: 0.8em;
}



/*Helpers-class*/
.overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}


.help-block{
    text-align: justify;
}


.no-margin-bottom{margin-bottom: 0;}


.margin-top-sm{margin-top: 0.5em;}
.margin-left-sm{margin-left: 0.5em;}
.margin-bottom-sm{margin-bottom: 0.5em;}


.margin-left-n{margin-left: 1.5em;}
.margin-bottom-n{margin-bottom: 1.5em;}


.paddin-X-normal{
    padding-left: 1.5em;
    padding-right: 1.5em;
}