/* Tiny Scrollbar */
.viewport { width: 500px; height: 200px; overflow: hidden; position: relative;}
.overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar{ background: transparent url(../../lebowski/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.track { background: transparent url(../../lebowski/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:15px; position: relative; }
.thumb { background: transparent url(../../lebowski/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.thumb .end { background: transparent url(../../lebowski/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }



/*.btn-primary{
	background-color: #95a5a6;
	border-color: #7f8c8d;
}
.btn-primary:hover{
	background-color: #7f8c8d;
	border-color: #7f8c8d;
}*/

.form-control:active,.form-control:focus{
	border-color: #34495e;
	box-shadow: 0 0 #34495e;
}
.navbar-inverse{
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-top-menu, .navbar-inverse .navbar-toggle{
	margin-top: 0.2em;
	text-align: center;
	width: 3.3em;
	height: 3.3em;
	background-color: transparent;
	border:none;
}
.btn-top-menu>i, .navbar-inverse .navbar-toggle>i{
	margin-left: -1px;
	margin-top: 1px;
}
.navbar-inverse .navbar-collapse{
	box-shadow:0 0 4px #AAA;
	text-align: justify;
	border:1px solid #CCC;
	border-radius: 15px;
	overflow: hidden;
}
.navbar-inverse{
	background-color: #FBFBFB;
	border:none;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color: #34495e;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-toggle, .btn-top-menu,

.navbar-inverse .navbar-brand:hover,
.btn-top-menu:hover, .navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: transparent;
	color: #2c3e50;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	text-decoration: underline;
}



.cat-parent{
	text-align: center;
	max-height: 2.9em;
	overflow: hidden;
}
.catDiv{
    margin-top:0.3em;
    margin-right:0.3em;
    width:2.5em;
    height:2.5em;
    box-shadow: 0 0 4px #888;
    border:2px solid white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}
.cat-parent>.catDiv:first-child{
	margin-left:0.3em;
}
.catDiv>span{	
	width: 50%;
	height: 98%;
	right: 0;
	top: 1%;	
	background-color: #666;
	position: absolute;
	opacity: 0.3;
	border-radius: 0 100% 100% 0;
}
.catDivI{
	top:15%;
    left:15%;
    width:70%;
    height:70%;  
    position: absolute; 
    display: inline-block;
    background-size:100% 100%; 
}
.cat-skirts{background-color:#e74c3c;}
.cat-skirts>i{background-image:url("../img/ico/categories/skirt.png" );}

.cat-head{background-color:#27ae60;}
.cat-head>i{background-image:url("../img/ico/categories/hat.png" );}

.cat-suits{background-color:#95a5a6;}
.cat-suits>i{background-image:url("../img/ico/categories/suit.png" );}

.cat-socks{background-color:#d35400;}
.cat-socks>i{background-image:url("../img/ico/categories/socks.png" );}

.cat-top1{background-color:#2980b9;}
.cat-top1>i{background-image:url("../img/ico/categories/glyphicons_283_t-shirt.png" );}

.cat-top2{background-color:#16a085;}
.cat-top2>i{background-image:url("../img/ico/categories/glyphicons_285_sweater.png" );}

.cat-shoes{background-color:#f1c40f;}
.cat-shoes>i{background-image:url("../img/ico/categories/shoes.png" );}

.cat-trousers{background-color:#34495e;}
.cat-trousers>i{background-image:url("../img/ico/categories/glyphicons_284_pants.png" );}

.cat-outer{background-color:#8e44ad;}
.cat-outer>i{background-image:url("../img/ico/categories/outer.png" );}

.cat-accessories{background-color:#99CC00;}
.cat-accessories>i{background-image:url("../img/ico/categories/umbr.png" );}

.cat-under{background-color:#330066;}
.cat-under>i{background-image:url("../img/ico/categories/under.png" );}

.cat-bags{background-color:#f39c12;}
.cat-bags>i{background-image:url("../img/ico/categories/bags.png" );}

.filter-box {
	padding-bottom: 1em;
}
#filterBody{
	max-height: 0;
	overflow: hidden;
	display: inline-block;
	max-width: 214px;
}

label{
	font-weight: normal;
}
.progress{
	text-align: left;
	margin-bottom: 0.1em;
	border-radius: 0;
	background-color:transparent;
	box-shadow: none;
}
#skillsDescr{
	float: left;
	width: 5em;	
}
#skillsDescr span{
	display: block;
	float:left;
	text-align: left;
}
.progress-bar{
	text-align: left;
	box-shadow: none;
	border-radius: 0 5px 5px 0;
}
.progress-bar>span{
	display: inline-block;
	margin-left: 1.5em;
}

form{
	text-align: justify;
}
