     
.animate-fall-down.ng-hide-add, .animate-fall-down.ng-hide-remove {
    /*-webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display:block!important;
    }
     
.animate-fall-down.ng-hide-add.ng-hide-add-active,
.animate-fall-down.ng-hide-remove {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
     
.animate-fall-down.ng-hide-add,
.animate-fall-down.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}