<button sz-side-bar="" st-effect="st-effect-8" class="btn btn-primary pull-left">
    <i class="fa fa-reorder fa-lg"></i>
</button>
<a href="#" class="navbar-brand">ShmotZhmot</a>
<a class="btn btn-primary pull-right" href="{{urls.messageAdd()}}">
    <i class="fa fa-map-marker fa-lg"></i>
</a>


<!-- <button id="showMenu" sz-side-bar st-effect="st-effect-8"><i class="fa fa-cog"></i></button>
<button id="showSubPage" ng-click="showMainPage=false">SubPage</button>
<button id="showModal">Modal</button>   -->