


<gamemap width="map_width" height="map_height" radius="radius"
    boxes="gamemap" currentbox="current_box" lastbox="last_box" ng-show="showMap"></gamemap>

<div ng-show="messagePlace" ng-include src='"partials/message-edit-sub.html"'></div>


<div class="achivment animate-fall-down" ng-show="showAchive" ng-init="showAchive=explored_val" ng-click="showAchive=false" sz-achivment timeout="3000">
    <div class="media">
      <div class="pull-left">
        <i class="fa fa-star fa-5x"></i> 
      </div>
      <div class="media-body">
        <h4 class="media-heading">Congrats!</h4>
        You explored {{explored_val}} new places and gets {{zp_add_val}} ZP. 
      </div>
    </div>
</div>
