<sz-select-place placeslist="places_list"></sz-select-place>
<div class="big-bordered-box">  
    <div class="big-bordered-box-inner">        
        <h2 class="text-right">{{tmlText.header.main}}</h2>
        <p class="help-block">{{tmlText.hint.main}}</p>
        <p class="help-block" ng-show="explored_val">You explored {{explored_val}} new places and gets XX ZP. Congrats!</p>
        <h5>
            {{selected_place}}
        </h5>    
    </div>
</div>
<!-- <gamemap width="map_width" height="map_height" radius="radius"
    boxes="places_list" currentbox="current_box" oldbox="old_box"></gamemap> -->