*.[oa]
*~
*.pyc
*.zip
*.tar.gz
generated_place.*
*Font-Awesome*
*font-awesome*
*bootstrap*

media/*
sz/core/migrations/
static/*
sz/passwords.py
sz-app
_szApp
szApp/www/libs
szApp/platforms
node_modules