*.[oa]
*~
*.pyc
*.zip
generated_place.*
*Font-Awesome*
*font-awesome*
*bootstrap*
*tmpviews*
media/*
sz/core/migrations/
static/*
sz/passwords.py
sz-app
szApp/www/libs
szApp/.cordova
szApp/merges
szApp/plugins
szApp/platforms
node_modules