*.[oa]
*~
*.pyc
*.zip
*.tar.gz
generated_place.*
*Font-Awesome*
*font-awesome*
*bootstrap*

media/*
sz/core/migrations/
static/*
sz/passwords.py
sz-app
_szApp
szApp/www/libs/angularjs
szApp/www/libs/BookBlock
szApp/www/libs/IconHoverEffects
szApp/www/libs/jquery
szApp/www/libs/raphael
szApp/www/img
szApp/platforms
node_modules