body{
    margin: 0;
}

/*#mainArea, header, footer{
    width:100%;
    clear:both;
}

*/
#mainArea {
    position: relative;
    top:0;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: center;
}

.header{
    top: 8px;
    position: absolute;
}

.footer{
    margin-top: -38px;
    position: relative;
}
/*
.navigation{
    padding: 0 0.8em;
}
*/
.navigation{
    display: inline-block;
    background-color: transparent;
    z-index: 300;
    margin-right: 8px;
    margin-left: 8px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
body {
    font-family: 'Lato', sans-serif;
}


html{
    background-color: #f6f6f6;
}

.navigation a{
    border: 2px solid rgba(44, 62, 80, 1);
    border-radius: 30px;
    width:20px;
    height:20px;
    padding: 10px;
    box-shadow:  2px -2px 1px rgba(0, 0, 0, 0.15),
        inset 2px -2px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.7);
}

.navigation a:hover{
   /* box-shadow:
        0 2px 1px rgba(255, 255, 255, 0.2),
        inset 0 2px 1px rgba(255, 255, 255, 0.2);*/
}

.navigation span{
    padding-top: 12px;
}
.navigation span .value{
    font-style: normal;
}

.navigation a, .navigation span{
    opacity: .6;
    color: rgba(44, 62, 80, 1);
    text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}

.navigation a:hover,
.navigation span:hover{
    opacity: 1;
    /*color: rgba(255, 255, 255, 1);*/
    /*text-shadow: 2px -2px 1px rgba(255, 255, 255, 0.2);*/
    /*background-color: transparent;*/
}


#loader{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    z-index:9999;
}

#loader i{
    font-size: 4em;
    position: absolute;
}

.brand{
    padding: 1em 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px -2px 1px #556B2F;
}

.bignav{
    list-style: none;
    margin: 0;
    padding: 0
}

.bignav>li{
    margin: 1em 0;
}

.bignav>li>a, .bignav>li>a:visited{
    cursor:pointer;
    padding: 1em;
    border:3px solid;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:0.7em;
    display: inline-block;
    width:80%;
    color: #556B2F;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.bignav>li>a:hover, .bignav>li>a:active, .bignav>li>a:focus, .bignav>li>a.active{
    color: #5da130;
}

.left-part{
    float:left;
}
.right-part{
    float:right;
}

#raphaelGameMap-Svg{
    z-index: 300;
}

/*--------------------------------*/
.btn{
    background-color: transparent;
    border-color: transparent;
}


.circle-btn{
    opacity: 1;
    width:40px;
    height: 40px;
    border-radius:20px;
    margin: 0 5px;
    background-color: rgba(40, 40, 40, 0.1);
    border: 2px solid rgba(203, 203, 193, 0.3);
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 2px rgba(40,40,40,0.2) ;
}

.circle-btn:hover, .circle-btn:active{
    background-color: transparent;
}

.display-block{
    display: block;
    width:100%;
}

.pull-right{
    display: block;
    float:right;
}

.pull-left{
    display: block;
    float:left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;;
}

.overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
