body{
    margin: 0;
}

/*#mainArea, header, footer{
    width:100%;
    clear:both;
}

*/
#mainArea { 
    position: relative;
    top:0;
    overflow-y: scroll;
    overflow-x: scroll;    
    text-align: center;
}

.header{
    top: 8px;
    position: absolute;
}

.footer{
    margin-top: -38px;
    position: relative;
}
/*
.navigation{
    padding: 0 0.8em;
}
*/
.navigation{
    display: inline-block;
    background-color: transparent;
    z-index: 300;    
    margin-right: 8px;
    margin-left: 8px;
} 

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
body {
    font-family: 'Lato', sans-serif;    
}


html{
    background-color: #9ACD32;    
}

.navigation a{    
    border: 2px solid #fff;
    border-radius: 30px;    
    width:20px;
    height:20px;
    padding: 10px;
    box-shadow:  2px -2px 1px rgba(0, 0, 0, 0.15),
        inset 2px -2px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation a:hover{
   /* box-shadow:
        0 2px 1px rgba(255, 255, 255, 0.2), 
        inset 0 2px 1px rgba(255, 255, 255, 0.2);*/
}

.navigation span{
    padding-top: 12px;
}
.navigation span .value{
    font-style: normal;
}

.navigation a, .navigation span{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}

.navigation a:hover,
.navigation span:hover{
    color: rgba(255, 255, 255, 1);
    /*text-shadow: 2px -2px 1px rgba(255, 255, 255, 0.2);*/
    background-color: transparent;
}


#loader{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    z-index:9999;
}

#loader i{
    font-size: 4em;
    position: absolute;
}

.brand{
    padding: 1em 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px -2px 1px #556B2F;
}

.bignav{
    list-style: none;
    margin: 0;
    padding: 0
}

.bignav>li{
    margin: 1em 0;
}

.bignav>li>a, .bignav>li>a:visited{
    cursor:pointer;
    padding: 1em;
    border:3px solid;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:0.7em;
    display: inline-block;
    width:80%;
    color: #556B2F;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.bignav>li>a:hover, .bignav>li>a:active, .bignav>li>a:focus, .bignav>li>a.active{
    color: #5da130;
}

.left-part{
    float:left;
}
.right-part{    
    float:right;
}


/*--------------------------------*/
#map-mapPathParent{
    display: inline-block;
}

#map-mapPathContainer{
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}

#gamemap{
    list-style: none;
    white-space: nowrap;
}

.gamemap-column{
    width: 83px;
    min-height: 83px;
    display: inline-block;
}
/*
.gamemap-box{
    width:116px;
    height:116px;
    border: 4px solid;
}
*/
#gamemap .map-mapPathCard{
    position: relative;
    cursor: pointer;
    width:75px;
    height:75px;
}

.map-mapPathCard{
    width:116px;
    height:116px;
    border: 4px solid;
    border-radius: 7px;
    border-color: #95a5a6;
    overflow: hidden;
}

.map-mapPathCard-bottom{
    position: absolute;
    bottom: 0;
    left:0;
    height: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    height: 1em;
    padding: 0.3em 0;
    text-align: center;
    opacity: 0;
}

.map-mapPathCard h5{
    margin: 0;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
}

#map-mapPathContainer.first-child-shadow .map-mapPathCard{
    box-shadow: none;
}
#map-mapPathContainer .map-mapPathCard,
#map-mapPathContainer.first-child-shadow .map-mapPathCard:first-child,
#gamemap .map-mapPathCard{
    box-shadow:
        0 0 5px 2px rgba(0,0,0,.15),
        inset 2px -2px 1px rgba(0, 0, 0, 0.6);;
}

.map-mapPathCard img{
    width:100%;
    height: 100%;
}

.map-mapPathCard.amadeus .map-mapPathCard-bottom,
.map-mapPathCard.futuri .map-mapPathCard-bottom,
.map-mapPathCard.united .map-mapPathCard-bottom{
    opacity: 1;
}

.map-mapPathCard.amadeus{
    border-color:#8A2BE2;
}
.map-mapPathCard.amadeus .mapbox-owner-label{
    border-top-color: #8A2BE2;
}
.map-mapPathCard.futuri {
    border-color: #DAA520;
}
.map-mapPathCard.futuri .mapbox-owner-label{
    border-top-color: #DAA520;
}
.map-mapPathCard.united {
    border-color: #2980b9;
}
.map-mapPathCard.united .mapbox-owner-label{
    border-top-color: #2980b9;
}

.mapbox-owner-label{
    top:0;
    left:0;
    width:0;
    height:0;
    position: absolute;    
    color:white;
    border-top: 45px solid;
    border-top-color: transparent;
    border-right: 45px solid transparent;
    font-size: 0.9em;
}
.mapbox-owner-label i{
    position: absolute;
    top:-45px;
    left:0;
}

.mapbox-owner-label.mapbox-isowner-label{
    color:#FFD700;
}

.mapbox-end-label, .mapbox-start-label{
    color: #95a5a6;
    position: absolute;
    top: -1px;
    right: 4px;   
}

.mapbox-start-label{
    color: green;
}


#raphaelGameMap-Svg{
    z-index: 300;
}

/*--------------------------------*/

.circle-btn{
    width:40px;
    height: 40px;
    border-radius:20px;
    margin: 0 5px;
}

.display-block{
    display: block;
    width:100%;
}

.pull-right{
    display: block;
    float:right;
}

.pull-left{
    display: block;
    float:left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;;
}

.overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
