
.gamemap-item:before, .gamemap-item:after{
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left:1px;
    right:1px;
    content: "";
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    z-index: 3;
    background-color: transparent;
}



.gamemap-pathpreview{
    list-style: none;
    margin: 0;
    display: inline-block;
    text-align: left;
    padding: 20px 10px 54px 10px
}

.gamemap-pathpreview>li{
    display: block;
    width:100%;
    min-height: 10px;
    text-align: left;
}

.gamemap-pathpreview>li:nth-child(even){
    text-align: right;
}

.gamemap-pathpreview-node{
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border-radius: 30px;*/
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding-top: 13px;
    color: white;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.4) , -1px -1px 1px rgba(0,0,0,0.2);
    position: relative;

    border: 4px solid rgba(203, 203, 193, 0.4);
    background-color: rgba(40,40,40,0.1);
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow::
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /*transform: perspective(100%);*/
    -webkit-transition: all .1s;
    transition: all .1s;
    outline: none;
    -webkit-user-select: none!important;
}

.gamemap-pathpreview-node:hover,
.gamemap-pathpreview-node.active{
    background-color: #2c3e50!important;
    opacity: .8;
}

.gamemap-pathpreview-node:after,
.gamemap-pathpreview-node:before{
    position: absolute;
    content: "";
    display: block;
}

.gamemap-pathpreview-node:after,
.gamemap-pathpreview>li:nth-child(even) .gamemap-pathpreview-node:first-child:before{
    width: 10px;
    height: 3px;
    top: 20px;
    right: -14px;
    border: 2px solid rgba(203, 203, 193, 0.4);
    background-color: rgba(40,40,40,0.1);
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow::
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.gamemap-pathpreview>li .gamemap-pathpreview-node:last-child:after{
    visibility: hidden;
}


.gamemap-pathpreview>li:nth-child(odd) .gamemap-pathpreview-node:last-child:after{
    top: initial;
    right: 19px;
    bottom: -14px;
    visibility: visible;
    width: 3px;
    height: 10px;
}

.gamemap-pathpreview>li:nth-child(even) .gamemap-pathpreview-node:first-child:before{
    visibility: visible;
    width: 3px;
    height: 10px;
    right: 19px;
    top: initial;
    bottom: -14px;
}


.pathPreviewItem{
    width:100%;
    height: 100%;
    position: relative;
}

.gamemap-item.hideitem{
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.gamemap-item h3{
    position: absolute;
    width: 100%;
    padding: 2px;
    top: 0;
    margin: 0;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: rgba(40,40,40, .6);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2) ;
    background-color: rgba(226,226,226,0.6);
}

.gamemap-item .gBox-img{
    visibility: hidden;
    display: inline-block;
    max-width: 100%;
    max-height: 80px;
    position: relative;
    z-index: 1;
    margin-top: 18px;
}


.gamemap-item .gBox-detail{
    font-size:  10px;
    display: block;
    background-color: rgba(255,255,255,0.6);
    color: rgba(30,30,30, .6);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2) ;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    max-height: 0;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    /*-webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;*/
    overflow: hidden;
}

.gamemap-item .gBox-sp-value{
    position: absolute;
    height: 5px;
    background-color: rgba(242,209,0,.6);
    bottom: 0;
    left: 0;
    z-index: 100;
}

.active .gamemap-item .gBox-detail{
    max-height: 200px;
    padding-bottom: 5px;
}

.gamemap-item .gBox-detail-spec{
    display: block;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
}

.gamemap-item .gBox-detail-profit{color: #0193B7;}
.gamemap-item .gBox-detail-negative{color: #ea7d24;}

.gamemap-item{
    left:0;
    top:0;
    position: absolute;
    border: 4px solid rgba(203, 203, 193, 0.4);
    background-color: rgba(40,40,40,0.1);
    border-radius: 6px;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow::
        0 2px 1px rgba(0, 0, 0, 0.2),
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /*transform: perspective(100%);*/
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    overflow: hidden;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    background-repeat: no-repeat;
    background-size: contain;
}

.gmtile{
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.gmtile.active .gamemap-item{
    border-color: #2c3e50
}

.gamemap-item:before{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
    -webkit-box-shadow:: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}

.gamemap-item:after{
    bottom: auto;
    top: 0;
}

.gamemap-item.gamemap-item-wavein{
    -moz-transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
    -o-transform: rotateY(-30deg);
    -ms-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.nobody.gamemap-item:before{
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow:: none;
}

.neutral.gamemap-item:before,
.gamemap-pathpreview-node.neutral{
    background-color: #b6aea1;
}

/*.own.gamemap-item:after,
.simpleSlider-thumb>li.own:after{
    background-color: #f2d100;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.2) inset;
}

.positive.gamemap-item:before, .own.gamemap-item:before,
.simpleSlider-thumb>li.positive, .simpleSlider-thumb>li.own{
    background-color: #8DC900;
}
*/

.own.gamemap-item:before,
.gamemap-pathpreview-node.own{
    background-color: #f2d100;
}

.own.gamemap-item .gBox-sp-value{
    display: none;
}


.positive.gamemap-item:before,
.gamemap-pathpreview-node.positive{
    background-color: #0193B7;
}


.negative.gamemap-item:before,
.gamemap-pathpreview-node.negative{
    background-color: #ea7d24;
}


.gmtile-inner-wavein{
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
}


.gBoxDetail{
    position: absolute;
    right: 0;
    top:0;
    left:0;
    min-height: 100%;
    z-index: 1000;
    background-color: white;
}

.gBoxDetail .closeDetail{
    position: absolute;
    bottom: 0;
}
/*--------------------------------*/