<div ng-controller="RegistrationConfirmation" class="content-inner" id="test">

    <h2 class="page-header">Confirmation</h2>

    <p class="help-block">We sent a letter with a key on your email. Please, check your inbox and visit the link from our email for confirmation your registration.</p>

    <button class="btn btn-primary btn-block margin-top-nm btn-large" ng-disabled="inProgress" ng-click="goToLogin()" type="button">
        <i class="fa fa-sign-in fa-lg"></i>
    </button>

    <button class="btn btn-default btn-block margin-top-lg btn-large" ng-disabled="inProgress" ng-click="confirmation(user.email)" type="button">Resend a key</button>

    <p class="help-block margin-top-nm" ng-show="showConfirmationResponse">Ok. We did it again.</p>
</div>