<div class="text-center ">
    <map-path-preview class="animate-from-right" center='activePoint' isshow="showGamePath" ppoints="gameMap.ppoints"
        ng-show="showGamePath" ></map-path-preview>
    <game-map center='activePoint' coordinates="coordinates" path-positions='gameMap.pathPositions'
        class="animate-from-left" ng-show="showGameMap"></game-map>
    <div class="gBoxDetail animate-fall-top" ng-show="showDetail" >
        <!-- {{gameMap.currentGBox}} -->
        <div class="form-group content-inner">
            <button class="closeDetail btn btn-default circle-btn" ng-click="setHideDetail()">
                <i class="fa fa-times"></i>
            </button>
            <sp-slideshow array="gameMap.currentGBox.buildings"></sp-slideshow>

        </div>
    </div>
</div>