<div class="photoPreview animate-fall-top" ng-show="showPhotoPreview">
    <div class="photoPreview-inner">
        <sz-photo-crop src="photoSrc" ismobile="is_mobile"></sz-photo-crop>
    </div>
    <div class="btn-group photoPrevew-btns">
        <button class="btn btn-block btn-default btn-large" ng-click="cropPreview()">
            <i class="fa fa-crop fa-lg"></i>
        </button>
        <button class="btn btn-block btn-default btn-large" ng-click="setShowPhotoPreview(false)">
            <i class="fa fa-times fa-lg"></i>
        </button>
    </div>
</div>

<div>
    <div ng-show="messagePlace" class="messageAdd-header">
        <h4 class="overflow-hidden messageAdd-header-name">{{messagePlace.place_name}}</h4>
        <p class="overflow-hidden messageAdd-header-address" ng-show="messagePlace.place_address">
            {{messagePlace.place_address}}</p>
    </div>

    <div class="messageAdd-photoCont">
        <sz-photo-unface src="photo" ismobile="is_mobile" activeface="activeFace" reduce="isReducePhoto"></sz-photo-unface>
        <div  ng-show="showFacesArea" class="animate-fall-top navigation messageAdd-facesNav">
            <a ng-click="isReducePhoto=false">
                <i class="fa fa-plus fa-lg"></i>
            </a>

            <a ng-click="isReducePhoto=true">
                <i class="fa fa-minus fa-lg" ></i>
            </a>
        </div>
        <div  class="messageAdd-facesArea animate-fall-down" ng-show="showFacesArea">
            <img ng-repeat="face in faces" ng-src="{{face.face}}" style="max-width: {{100/faces.length - 1}}%;" ng-click="setActiveFace(face)" class="face" ng-class="isFaceActive(face)">
            <img ng-repeat="face in faces" ng-src="{{face.face}}" style="max-width: {{100/faces.length - 1}}%;" ng-click="setActiveFace(face)" class="face" ng-class="isFaceActive(face)">
            <img ng-repeat="face in faces" ng-src="{{face.face}}" style="max-width: {{100/faces.length - 1}}%;" ng-click="setActiveFace(face)" class="face" ng-class="isFaceActive(face)">
            <img ng-repeat="face in faces" ng-src="{{face.face}}" style="max-width: {{100/faces.length - 1}}%;" ng-click="setActiveFace(face)" class="face" ng-class="isFaceActive(face)">
            <img ng-repeat="face in faces" ng-src="{{face.face}}" style="max-width: {{100/faces.length - 1}}%;" ng-click="setActiveFace(face)" class="face" ng-class="isFaceActive(face)">
        </div>
    </div>
</div>

