<input class="form-control placesSelect-placesquery" ng-disabled="inProgress" ng-model="query" placeholder="Найти место" >
<ul class="placesSelect-placeslist">
    <li ng-repeat="place in placesList" >
        <div class="placeSelect-place-main">
            <span class="placesSelect-place-distance">{{ place.distance|| 0 }} м</span>
            <div class="placesSelect-place-name">{{ place.place_name }}</div>
        </div>
        <div class="placeSelect-place-btns">
            <div>
                <a class="btn btn-link" href="{{urls.messageAdd(place.place_id, false)}}" >
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
            </div>

            <div>
                <a class="btn btn-link" href="{{}}"  >
                    <i class="fa fa-external-link fa-lg"></i>
                </a>
            </div>
        </div>
    </li>
</ul>