<div class="content-inner">
    <form class="form-group" name="general" role="form">
        <h2 class="page-header">Регистрация</h2>

        <div class="form-group" id="registration-races" ng-class="{'has-error':loginAlert.race.length}">
            <label for="radioRace" class="control-label">Выберите расу и пол</label>

            <p class="help-block">
                Раса будет определять ваши таланты и характеристики. Будте внимательны, потому что вы не сможете сменить расу или пол в будущем.
                <a href="urls.wiki"> Читать больше о расах на вики</a>
            </p><!-- /.help-block -->

            <div class="text-danger" id="registration-races-alert">
                <span ng-repeat="alert in loginAlert.race">{{alert}}</span>
            </div><!-- /#registration-races-alert -->

            <div class="form-group" id="registration-genders">
                <div id="registration-genders-options">
                    <button class="btn btn-default circle-btn registration-genders-option" ng-disabled="inProgress"
                           ng-class="user.gender == 'f' && 'active'" ng-click="user.gender='f'"  type="button">
                            <span><i class="fa fa-female"></i></span>
                    </button><!-- /.registration-genders-option -->

                    <button class="btn btn-default circle-btn registration-genders-option" ng-disabled="inProgress"
                        ng-class="user.gender !== 'f' && 'active'" ng-click="user.gender='m'" type="button">
                            <span><i class="fa fa-male"></i></span>
                    </button><!-- /.registration-genders-option -->
                </div><!-- /#registration-genders-options -->
            </div><!-- /#registration-genders -->

            <div class="form-group">
                <div id="registration-races-options">
                    <label class="btn btn-default circle-btn"
                        ng-disabled="inProgress" ng-click="user.race=r" ng-repeat="r in races" sz-radio-btn ng-class="user.race.id == r.id && 'active'">
                        <input name="options" type="radio"><span><i>{{r.name}}</i></span>
                    </label>
                </div><!-- /#registration-races-options -->

                <div ng-show="user.race" class="text-center margin-top-nm" id="registration-raceDescription">
                    <div id="registration-raceDescription-blazon"  >
                        <div id="registration-raceDescription-bg-blur" style="background-image: url({{user.race.img.img}});"></div>
                        <div id="registration-raceDescription-bg" style="background-image: url({{user.race.img.img}});"></div>
                        <div id="registration-raceDescription-char" style="background-image: url({{getCharImg()}});"></div>
                    </div>
                </div><!-- /#registration-raceDescription -->
            </div><!-- /#registration-races -->
        </div>

        <div class="form-group" id="registration-nonFieldErrors" ng-show="loginAlert.non_field_errors">
            <p class="text-danger" ng-repeat="alert in loginAlert.non_field_errors">{{alert}}</p>
        </div><!-- #registration-nonFieldErrors -->

        <label for="radioRace" class="control-label">Укажите e-mail и пароль</label>
            <p class="help-block">Мы не будем слать вам письма, если вы сами нас об этом не попросите. Пароль на устойчивость мы тоже проверять не будем, но настройки в базе данных требуют, чтобы он был от 3 до 128 символов.</p>

        <div class="form-group" id="registration-email" ng-class="{'has-error':isEmailAlert(general.email.$error.maxlength)}">
            <i class="fa fa-envelope-o fa-fw"></i>
            <input class="form-control" id="inputEmail" name="email" ng-disabled="inProgress" ng-maxlength="72" ng-minlength="3" ng-model="user.email" placeholder="Email" required="" type="email">

            <div class="text-danger" id="registration-email-alert">
                <span ng-repeat="alert in loginAlert.email">{{alert}}<br></span>
                <span ng-show="general.email.$error.minlength">{{tmlText.errorsText.email.short}}</span>
                <span ng-show="general.email.$error.maxlength">{{tmlText.errorsText.email.long}}</span>
            </div><!-- /#registration-email-alert -->
        </div> <!-- /#registration-email -->

        <div class="form-group" id="registration-pswdAlert" ng-show="loginAlert.password">
            <p class="text-danger" ng-repeat="alert in loginAlert.password">{{alert}}</p>
        </div><!-- /#registration-pswdAlert -->

        <div class="form-group" id="registration-pswd1" ng-class="{'has-error':isPswdAlert(general.password1.$error.maxlength)}">
            <i class="fa fa-key fa-fw"> </i>
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" id="inputPassword1" name="password1" ng-disabled="inProgress" ng-maxlength="128" ng-minlength="3" ng-model="user.password1" placeholder="Password" required="" type="password">

            <div class="text-danger" id="registration-pswd1-alert">
                <span ng-repeat="alert in loginAlert.password1">{{alert}}<br></span>
                <span ng-show="general.password1.$error.minlength">
                    {{tmlText.errorsText.password.short}}</span>
                <span ng-show="general.password1.$error.maxlength">
                    {{tmlText.errorsText.password.long}}</span>
            </div><!-- /#registration-pswd1-alert -->
        </div><!-- /#registration-pswd -->

        <div class="form-group" id="registration-pswd2" ng-class="{'has-error': isPswd2Alert()}">
            <div class="text-danger" id="registration-pswd2-alert">
                <span ng-repeat="alert in loginAlert.password2">{{alert}}<br></span>
                <span ng-show="user.password1!=user.password2">
                    {{tmlText.errorsText.password.notmatch}}</span>
            </div><!-- /#registration-pswd2-alert -->
            <i class="fa fa-key fa-fw"> </i>
            <input class="form-control" id="inputPassword2" name="password2" ng-disabled="inProgress" ng-maxlength="128" ng-minlength="3" ng-model="user.password2" placeholder="Password again" required="" type="password">

        </div>


    </form>

    <div class="margin-top-lg">
        <button class="btn btn-block btn-primary btn-large" ng-disabled="inProgress" ng-click="registration()" type="submit">Do it!</button>
    </div>
</div>
